body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: #F5EFE6;

  
}

.page{
    margin: 0 auto;
    width: 1080px;
   
}

.vis-container {
    width: 100%;
    text-align: center;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.collection-title {
    display: inline-block;
    margin-right: 1em;
    font-weight: 700;
    color: #222;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    margin-top: 1.5em;
}

.page-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 5;
    margin-bottom: 0.75em;
    font-family: Lyon-Text, Georgia, ui-serif, serif;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-top: 32px;
}

h2 {
    font-size: 25px;
    margin-top: 25px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

.bodytext_2_column {
    font-family: 'Century Gothic', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    column-count: 2;
}

.small-font {
    font-size: 14px;
}

.bodytext {
    font-family: 'Century Gothic', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

